{% extends 'base.html' %}

{% block title %}Home - IT Vaccancy Alert{% endblock %}

{% block content %}

<main>
    <div class="search-section">
        <h1>Discover the Latest Job Vacancies Now</h1>
        <p>Stay ahead with our curated job alerts, sourcing top vacancies for your next career move</p>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="enter job title, keyword or phrase... ">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="job-section">
        <div class="tabs">
            <button class="tab-link active">POPULAR JOBS</button>
            <button class="tab-link">RECENT JOBS</button>
            <button class="tab-link">TOP JOBS</button>
        </div>
        <div class="job-list">
            {% for job in jobs %}
            <div class="job-card" onclick="location.href='{% url 'job_listing_details' job.id %}'">
                <h2>{{ job.position }}</h2>
                <p>{{ job.company }}</p>
                <p>Experience: {{ job.experience }}</p>
                <p>Location: {{ job.location }}</p>
                <p class="days-left">In 5 days</p>
                <a href="{% url 'job_listing_details' job.id %}">details</a>
                <a href="{% url 'screenshotview' job.id %}">screenshotview</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="banner-text">
        <h2>Stand Out and Let Opportunities Find You!</h2>
        <p>Unlock Countless Opportunities. Customize Your Search and Discover Your Perfect Career Fit</p>
        <a href="#" class="button">Find Job</a>
    </div>
</main>

{% endblock %}