<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/sc_shoot.css' %}">
    <title>Take Screenshot</title>
</head>


<body>
    <div class="content" id="job-container" data-job-id="{{ job.id }}">
        <div class="d-flex">
            <div class="d-right"></div>
            <div class="d-left">
                <div class="job-details">
                    <h2 class="position-title">{{ job.position }}</h2>
                    <h3 class="mtb-10" style="font-size: 20px !important;">{{ company.name }}</h3>
                    <p>Job Type : {{ job.Employement_type }}</p>
                    <p>Location : {{ company.address }}</p>
                    <p>Experience : {{ job.experience }}</p>
                </div>
                <div class="contact">
                    <p class="cp">Send your resume</p>
                    {% if job.application_email %}
                    <p class="cd"><a href="mailto:vacancy@codehimalaya.net">{{job.application_email}}</a></p>
                    {% elif company.email %}
                    <p class="cd"><a href="mailto:vacancy@codehimalaya.net">{{company.email}}</a></p>
                    {% elif company.website %}
                    <p class="cd"><a href="mailto:vacancy@codehimalaya.net">{{company.website}}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>